* {
  box-sizing: border-box;
}

/* Layout */
body {
  margin: 0;
  display: grid;
  grid-template-rows: auto auto;
}

main {
  min-height: 500vh; /* only with this the right-column of the sectin will stick*/
}
header {
  position: sticky; /* header stays on top of the browser window*/
  top: 0px;
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  /* background-color: rgb(231, 231, 231); */
  background-color: #333;
}

header i.logo {
  margin-right: 10px;
}

.flex-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flex-container #right-column {
  /* to make the details sticky*/
  height: 100%;
}

#right-column {
  position: sticky;
  top: 0;
}

.two-column > div {
  flex: 1;
}

.two-column img {
  max-width: 100%;
  object-fit: cover;
}

.location-cards {
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px;
}

.location-card {
  background: rgb(243, 242, 242);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s;
  flex: 1;
  min-width: 200px;
  max-width: 300px;
}

.location-card:hover {
  transform: scale(1.05);
}

.location-card > img {
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
}

.date {
  margin-left: 5px;
}

.icon {
  margin-left: 10px;
}

#details-img {
  padding-top: 30px;
  padding-right: 20px;
}
#details-weather-container {
  align-items: flex-start;
  justify-content: space-around;
  gap: 20px;
  padding-top: 20px;
  padding-right: 20px;
  flex-wrap: wrap;
  width: 100%;
}

#details-container {
  min-width: 200px;
}

#weather-container {
  text-align: center;
  background-color: #333;
  /* border: 2px solid #f9b21a; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  padding-bottom: 40px;
  margin-top: 20px;
}

#weather-icon-container {
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
#weather-icon {
  max-width: 100%; /* Stellt sicher, dass das Bild die Containerbreite nicht überschreitet */
  height: auto; /* Hält das Seitenverhältnis des Bildes */
}

#weather-summary {
  font-size: 18px;
  font-weight: bold;
}

#temperature {
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
}

/* TYPO */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

header i.logo {
  font-size: 30px;
}

header,
nav {
  font-family: 'Barriecito', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  text-transform: uppercase;
  color: white;
}

nav a {
  font-size: 1.4rem;
  color: white;
}

/* Navigation */
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  list-style-type: none;
}
nav a {
  padding: 10px;
}

/* Hyperlinks */
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  color: #f9b21a;
}

nav a.active {
  color: #f9b21a;
  font-weight: bold;
  pointer-events: none; /*link of actual side can not be clicked*/
}

#weather-container > h2 {
  color: #f9b21a;
}

#weather-container {
  color: white;
}

/* FORM */
.form-container {
  display: flex;
  flex-wrap: wrap; /* Damit die Fieldsets umbrechen, wenn der Platz nicht ausreicht */
  gap: 30px; /* Abstand zwischen den Fieldsets */
  width: 100%;
}

form {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
fieldset {
  border: 1px solid #f9b21a;
  padding: 15px;
  border-radius: 8px;
  flex: 1 1 45%; /* Fieldsets nehmen jeweils 45% der Breite des Containers ein */
  min-width: 250px;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
  padding: 0 5px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type='text'],
input[type='date'],
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #f9b21a;
  border-radius: 4px;
  font-size: 14px;
}

input[type='text']:focus,
input[type='date']:focus,
textarea:focus {
  outline: 2px solid #f9b21a;
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #f9b21a;
}
