* {
  box-sizing: border-box;
}

/* Layout */
body {
  margin: 0;
  display: grid;
  grid-template-rows: auto auto;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: rgb(231, 231, 231);
}

header i.logo {
  margin-right: 10px;
}

.twoColumn {
  display: flex;
  justify-content: center;
}
.twoColumn > div {
  width: 48%;
}

.twoColumn img {
  max-width: 100%;
  object-fit: cover;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

.locationCard {
  width: 300px;
  background: rgb(243, 242, 242);
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: transform 0.2s;
}

.locationCard:hover {
  transform: scale(1.05);
}

.locationCard > img {
  border-radius: 10px;
  max-width: 100%;
}

.date {
  margin-left: 5px;
}

.icon {
  margin-left: 10px;
}
#detailsWeatherContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  padding-top: 20px;
  flex-wrap: wrap;
  width: 100%;
}

#detailsContainer,
#weatherContainer {
  flex: 1 1 48%; /* Beide Container nehmen jeweils 48% des verfügbaren Platzes ein und können bei Bedarf verkleinert werden */
  max-width: 48%;
}

#detailsContainer {
  min-width: 200px;
}

#weatherContainer {
  text-align: center;
  /* border: 1px solid #f9b21a; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;
  margin-top: 20px;
}

#weatherIconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
}
#weatherIcon {
  max-width: 100%; /* Stellt sicher, dass das Bild die Containerbreite nicht überschreitet */
  height: auto; /* Hält das Seitenverhältnis des Bildes */
}

#weatherSummary {
  font-size: 18px;
  font-weight: bold;
}

#temperature {
  font-size: 18px;
  font-weight: normal;
  margin-left: 10px;
}

/* TYPO */
body {
  font-family: Arial, sans-serif;
  color: #333;
}

header i.logo {
  font-size: 30px;
}

header,
nav {
  font-family: 'Barriecito', system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
  text-transform: uppercase;
}

nav a {
  font-size: 1.4rem;
}

/* Navigation */
nav ul {
  display: flex;
  justify-content: flex-end;
}
nav ul li {
  list-style-type: none;
}
nav a {
  padding: 10px;
}

/* Hyperlinks */
a {
  text-decoration: none;
  color: #333;
}
a:hover {
  text-decoration: underline;
}

nav a.active {
  color: blueviolet;
  pointer-events: none; /*link of actual side can not be clicked*/
}
